.loaderW {
    margin: 0 auto;
    border: 10px solid White;
    border-radius: 50%;
    border-top: 10px solid Cornsilk;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 5s linear infinite;
}

.loaderU {
    border: 10px solid White;
    border-radius: 50%;
    border-top: 10px solid LightSkyBlue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 5s linear infinite;
}

.loaderB {
    border: 10px solid White;
    border-radius: 50%;
    border-top: 10px solid LightSlateGray;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 5s linear infinite;
}

.loaderR {
    border: 10px solid White;
    border-radius: 50%;
    border-top: 10px solid LightCoral;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 5s linear infinite;
}

.loaderG {
    border: 10px solid White;
    border-radius: 50%;
    border-top: 10px solid DarkSeaGreen;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
