<!doctype html>
<html>
	<head>
		<title>List Tokens</title>

		<script src="https://deckbox.org/assets/external/tooltip.js"></script>

	</head>
	<body>
		<h1>Deck Tools</h1>

		<div>

			<form method="post">

				<div>

					<label for="deckList">Deck:</label>

				</div>

				<div>

					<textarea name="deckList" id="deckList" rows="30">{{ model.deckList }}</textarea>

				</div>

				<div>

				<button formaction="{{ model.listTokensUrl }}">List Tokens</button>
				<button formaction="{{ model.deckPriceUrl }}">Deck Price</button>

				</div>

			</form>

		</div>


		<div>

			{% if model.deckPrice %}

				<h2>Prices:</h2>

				<table>
					<tr>
						<td>Deck price:</td><td>{{ model.deckPrice }}</td><td>{{ model.currency }}</td>
					</tr>
					<tr>
						<td>Sideboard price:</td><td>{{ model.sideboardPrice }}</td><td>{{ model.currency }}</td>
					</tr>
					<tr>
						<td>Total price:</td><td>{{ model.totalPrice }}</td><td>{{ model.currency }}</td>
					</tr>
				</table>

			{% endif %}

		</div>

		<div>

		{% if model.tokens %}

			<h2>Tokens:</h2>

			<ul>
				{% for token in model.tokens|sort %}
					<li>{{ token }}
						<ul>
							{% for card in model.tokens[token]|sort %}
								<li><a href="#">{{ card }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>

		{% endif %}

		{% if model.counters %}

			<h2>Counters:</h2>

			<ul>
				{% for counter in model.counters|sort %}
					<li>{{ counter }}
						<ul>
							{% for card in model.counters[counter]|sort %}
								<li><a href="#">{{ card }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>

		{% endif %}

		{% if model.misc %}

			<h2>Other:</h2>

			<ul>
				{% for other in model.misc|sort %}
					<li>{{ other }}
						<ul>
							{% for card in model.misc[other]|sort %}
								<li><a href="#">{{ card }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>

		{% endif %}

		{% if model.tokenCandidates %}

			<h2>Cards that do something with tokens:</h2>

			<ul>
				{% for candidate in model.tokenCandidates|sort %}
					<li><a href="#">{{ candidate }}</a>
						<div>
							{{ model.tokenCandidates[candidate]}}
						</div>
					</li>
				{% endfor %}
			</ul>

		{% endif %}

		</div>

	</body>
</html>